
*{
    box-sizing: border-box;
 }  



@media screen and (max-width: 768px){
    body{
        display:flex;
        flex-direction: column;
        width: 768px;
    }
    .ktainrReg{  
        width:680px;
            
    } 
    .kmainReg{
        width:680px;
            
    
    } 
      
    #title{
        color:#7d7daf;
        font-size: 50px;
        
    }
}

@media screen and (max-width: 380px){
        body{
            display:flex;
            flex-direction: column;
            width: 380px;
        }
        .ktainrReg{  
            width:380px;
        } 
        

        

    }

    body{
        max-width: 1380px; 
        min-width: 380px;
        
        width: 1280px;
        background-color: #7d7daf;    
        margin-top:0;
        display:grid;
        grid-template-columns: 200px 1380px ;    
        grid-template-rows: 120px 700px  auto;         
    }


.ktainrReg{
    grid-row: 1;
    grid-column: 2;    
    width:980px;
    height: fit-content;  
    padding:30px;
    padding-bottom:200px;
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;    

    background-image: linear-gradient(#f3f3f3 ,#6498d4,#6498d4,#e77ceb );
    border-radius: 5rem;

    display:flex;
    flex-direction: column;   
}

.kheaderReg{
    /*width: fit-content;*/
    width: fit-content;
    height:fit-content;
    margin-left: 20px ;
    margin-right: 50px ;
    padding:10px;
    
    margin-top: 0px ;
    
    border:  solid 3px #a7d7eb;
    
    border-bottom: solid 1px #6498d4;
    
    border-radius: 3px ;
    border-width: 33px 28px 19px 33px;
    box-shadow: 0px 5px 2px 3px #e77ceb;
    opacity: 100%;
    background-color: #f3f3f3;
    font-size: 25px;
}
.kmainReg{
    margin-top: 200px;
    grid-column: 2;
    margin:auto;
}
.kcardReg img{
width: 500px;
}
.kcardReg{

    display: flex;
    flex-direction: row;

    width: 600px;
    height:fit-content;
    margin-left: 00px ;
    margin-right: 50px ;
    
    margin-top: 20px ;

    border:  solid 3px #a7d7eb;
    
    border-bottom: solid 1px #6498d4;
    
    border-radius: 3px ;
    border-width: 33px 28px 19px 33px;
    box-shadow: 0px 5px 2px 3px #e77ceb;
    opacity: 100%;
    background-color: #f3f3f3;
    font-size: 25px;
    
}
