*{
    box-sizing: border-box;
 }  



@media screen and (max-width: 768px){
    body{
        display:flex;
        flex-direction: column;
        
        max-width: 768px;
        width: 768px;
    }
    .kContainrSono{  
        display:flex;
        flex-direction: column; 
        width: 768px;
        grid-column: 1;
            
    } 
    .kheaderSono{
        grid-column: 3;

        width: 100%;
        margin-left: 5px;
        
    } 
    .kcardSono{
        display:none;
    } 
    .kmainSono{
        display:flex;
        flex-direction: column;
        width: 380px;      
     
    }   
    #title{
        color:#7d7daf;        
        font-size: 50px;
        
    }
    .imageBlu2 {
        display: block;
        
    }
}
    @media screen and (max-width: 380px){
        body{
            display:flex;
            flex-direction: column;
            width: 380px;
        }
        .kContainrSono{  
            display:flex;
            flex-direction: column; 
            width: 380px;
                grid-column: 1;
        } 
        .kheaderSono{
            width: 380px;
                grid-column: 1;
        
        } 
        .kcardSono{
            width: 380px;
                grid-column: 1;
        
        } 
        .kmainSono{
            display:flex;
            flex-direction: column;
            width: 380px;
                grid-column: 1;
        
        }   

        

    }

    body{
        max-width: 1980px; 
        min-width: 380px;
        
        
        background-color: #7d7daf;    
        margin-top:0;
        
        display: grid;    
        
        
         
    }
    

    .kContainrSono{
        grid-row: 1;
        grid-column: 1;
    
        width:1980px;
        height: fit-content;  
        padding:0px;
        margin-left: 160px;
        margin-top: 50px;
        padding-bottom: 50px;
    
        background-image: linear-gradient(#f3f3f3 ,#6498d4,#6498d4,#e77ceb );
        border-radius: 5rem;

        display: grid;    
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr)) ;
    
        
    
    }


    .kheaderSono{
        grid-row: 1;
        grid-column: 1;
    
        width:fit-content;
        height: fit-content;         
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin:auto;
        border-radius: 5rem;
        
    }
    .kmainSono{
        grid-row: 3;
        grid-column: 1/3;
                
        margin: auto;

        display: grid;    
        grid-template-rows: auto auto auto auto ;         
        grid-template-columns: 1fr 1fr 1fr  ;
        
        gap:50px;        
    }
    
   
    .kcardSono{     

        display:block;
        margin-top: 50px;
    }
    #title{
        color:#7d7daf;
        font-size: 50px;
        margin-left: 30px;
        
    }
    .imageBlu,.imageBlu2{
    
        width: 500px;
        height: fit-content;
        margin-bottom: 50px;
        
        border:  solid 3px #3280e6;
    
        border-bottom: solid 1px #e44ae9;
        
        border-radius: 20px ;
        border-width: 13px 8px 20px 18px;
        box-shadow: 9px 5px 2px 3px #f3f3f3;
    }
    
    .imagePnk{
        
        
        width: 500px;
        margin-bottom: 50px;
        border:  solid 3px #e44ae9;
    
        border-bottom: solid 1px #3280e6;
        
        border-radius: 15px ;
        border-width: 3px 8px 19px 18px;
        box-shadow: 9px 5px 2px 3px #f3f3f3;
    }
          
   .imageBlu2 {
        display:none;
    }
